<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.es.netschool24">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetSchool24"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.PrivacyPolicyActivity"
            android:exported="false"
            android:parentActivityName=".Activities.DashboardActivity"/>
        <activity
            android:name=".Activities.CartActivity"
            android:exported="false"
            android:parentActivityName=".Activities.CourseDetailsActivity" />

        <service
            android:name=".Services.MyService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.NotificationDemoActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activities.JoinFreeLearningActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.WebViewActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.FacebookSignInActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.GoogleSignInActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Signin_LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.CourseDetailsActivity"
            android:exported="true"
            android:parentActivityName=".Activities.OurCourseActivity" />
        <activity
            android:name=".Activities.FlashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.TeacherLoginActivity"
            android:exported="true"
            android:parentActivityName=".Activities.TeacherRegisterActivity" />
        <activity
            android:name=".Activities.TeacherRegisterActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.StudentLoginActivity"
            android:exported="true"
            android:parentActivityName=".Activities.StudentRegisterActivity" />
        <activity
            android:name=".Activities.StudentRegisterActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.StartActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ContactActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.ComplainActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.PaymentActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.FeeActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.OurCourseActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.YourProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.AboutUsActivity"
            android:exported="true"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity android:name=".Activities.DashboardActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>